@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
  position: relative;
  height: 100vh;
 
}
.container::after {
  content: "";
  background-image: url("./assets/images/Kingdom.jpg");

  filter: blur(8px);
  -webkit-filter: blur(8px);

  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;

}
